*
{
Padding: 0;
margin: 0;
box-sizing: border-box;
}
body
{
    background-image: url(background.jpg);
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    font-family: sans-serif;
}
.menu-bar
{
    background: rgba(240, 236, 236, 0.089);
    text-align: center;

}
.menu-bar ul
{ 
    display: inline-flex;
    list-style: none;
    color: rgb(rgb(255, 255, 255), rgb(253, 253, 253), rgb(255, 255, 255));
}
.menu-bar ul li
{
    width: 120px;
    margin: 10px;
    padding: 8.75px;
}
.menu-bar ul li a 
{
    text-decoration: none;
    color: #fff;
}
.menu-bar ul li:hover
{
background:red;
border-radius: 8px;.
}
.sub-menu-1
{
    display: none;
}
.menu-bar ul li:hover .sub-menu-1
{
   display: block;
   position: absolute;
   background: rgb(240, 236, 236, 0.089);
   margin-top: 15px;
   margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu-1 ul
{
    display: block;
    margin: 10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li
{
    width: 70px;
    padding:8 px;
    border-bottom: 1px dotted #fff;
    background:transparent;
    border: radius 0;
    text-align:left
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover
{
    color: red;
}

.icon 
{
    width: 200px;
    float: left;
    height: 25px;
}
.logo
{
    color: #f88808;
    font-size: 35px;
    font-family: Arial;
    padding-left: 28px;
    float: left;
    padding-top: 18px;
}
.content
{
    width: 100%;
    position: absolute;
    top: 300;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.title
{
    font-size: 60px;
    line-height: 100px;
    font-weight: bold;
}